body {
    color: rgb(0, 0, 0);
    background: black; 
    margin: 0px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(255, 255, 255);
    padding:25px;
    font-size: 90px;
    color: rgb(200, 148, 72);
}

.chamada {
    background: rgb(190, 227, 248);
    padding-bottom: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 110px;
}

h1{
    font-size: 60px;
}

p {
    font-size: 40px;
}

.categoria-musics {
    display: flex;
    overflow-x: auto;
    gap: 10px
}

.categoria {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
}

.categoria-musics img {
    opacity: 0.5;
    height: 200px;
}

.categoria-musics img:hover {
    opacity: 1.0;
    border: 1px solid rgb(200, 148, 72); 
}

.categoria h2 {
    color: rgb(255, 255, 255);
}